body {
  padding: 30px;
  padding-bottom: 70px;
}

.ht {
  height: 270px;
}


div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}

hr.mine {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid #f5f5f5;
}


/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-docs-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
  position:absolute;
  left:0;
  right:0;
}
.bs-docs-footer a {
  color: #fff;
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.bs-docs-footer-links li {
  display: inline-block;
}
.bs-docs-footer-links li + li {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .bs-docs-footer {
    text-align: left;
  }
  .bs-docs-footer p {
    margin-bottom: 0;
  }
}
