

</div>


<footer class="bs-docs-footer">
  <div class="container">
    <ul class="bs-docs-footer-links">
      <li><a href="https://github.com/ITKnowledge/quizapp">GitHub</a></li>
      <li><a href="https://twitter.com/ITKnowledgeMA">Twitter</a></li>
      <li><a href="http://www.itknowledge.ma">About</a></li>
    </ul>
    <p>Designed and built with all the love in the world by <a href="mailto:contact@itknowledge.ma" target="_blank">@kbellioum</a>. Maintained by the <a href="https://twitter.com/ITKnowledgeMA">IT Knowledge team</a>.</p>
    <p>
      Powred with :
      <a href="http://getbootstrap.com/" target="_blank"> - Bootstrap 3</a>
       <a href="http://nodejs.org/" target="_blank">- Nodejs</a>
       <a href="http://expressjs.com/" target="_blank">- Expressjs</a>
       <a href="http://socket.io/" target="_blank">- Socketio</a>
       <a href="http://mongodb.org/" target="_blank">- MongoDB.</a>
    </p>
  </div>
</footer>

<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
